.reccomendationsWrapper {
   position:relative; 
   margin:10px 0;  
   margin-bottom:40px; 
   
}

.inputClass{
    width:150px;
    position:relative;
    z-index:150;
}

.instruments ul{
   list-style:none;
   padding:10px;
   position:absolute;
   top:0;
   width:50%;
   background-color:#ECEBDC;
   opacity: .9;
  z-index:100;
}

.instruments ul li{
   
   border-bottom:1px solid #48473B;
}
.instruments ul li:hover{
   cursor:pointer
}

.suggestionClass{
width:250px;

margin:auto;
display:flex;
align-items: center;
justify-content: center;
} 
